# Python Basics NoteBook

In [47]:
#Write a Python code to return your Python version
import sys

print("Python version")
print(sys.version)

Python version
3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

In [26]:
#Write a Python code to declare variable id="513". 
id = '513'

#Print the following statement "customer id =513". [Don't use print("customer id =513")]
print("customer id=", id)

customer id= 513

In [8]:
#Run the following statement, why there is an error
id=id+1

#This is because id was of type 'str' instead of 'int'

TypeError: can only concatenate str (not "int") to str

In [27]:
#Convert the variable id into an integer, increment it by 1.
id = int(id) + 1

#Assign the result to variable new_id.
new_id = id

#Print the new_id
print(new_id)

514

In [46]:
#Write a Python code to print the following string in a specific format (see the output). 

# Twinkle, twinkle, little star, 
print("Twinkle, twinkle, little star,")
#     How I wonder what you are! 
print("\tHow I wonder what you are!")
#        Up above the world so high, 
print("\t\tUp above the world so high,")
#            Like a diamond in the sky.
print("\t\t\tLike a diamond in the sky.")

#OR

print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\t\tLike a diamond in the sky.")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
			Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
			Like a diamond in the sky.

In [2]:
#Given the following string variable, # Print the first element in the string

course="Python for Data Science"
print(course[0])

P

In [32]:
# Print the element on the 13th index in the string
print(course[12])

a

In [33]:
# Find the length of string
len(course)

23

In [34]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [3]:
# Take the slice on variable course with only index 11 to index 14
print(course[11:15])

Data

In [4]:
# Get every third element in the range from index 0 to index 20
print(course[:21:3])

Ph ra i

In [38]:
# Concatenate course string with ", AI & Development"
course2 = course + ", AI & Development"
print(course2)

Python for Data Science, AI & Development

In [40]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
newCourse2 = course2.replace(' ', '_')
print(newCourse2)

Python_for_Data_Science,_AI_&_Development

In [41]:
# Convert all the characters in string to upper case
newCourse2Upper = newCourse2.upper()
print(newCourse2Upper)

PYTHON_FOR_DATA_SCIENCE,_AI_&_DEVELOPMENT